.header {
    height: 10%;
    background-color: black;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textoheader {
    font-size: x-large;
    color: white;
}

@media (max-width: 1023px) {
    .header {
        height: 15%;
        background-color: black;
        width: 100%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}