.footer {
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.footercen {
    display: flex;
    justify-content: center;
    color: white;
    font-size: small;
}

.icono {
    margin-left: 6px;
    margin-right: 6px;
    color: white;
    font-size: larger;
    transition: color 0.4s;
}

.icono:hover {
    color: rgb(204, 204, 204);
}