<div class="divpadre">
    <div class="divpokemons">
        <section class="tarjetapokemon" *ngFor="let pokemon of pokemons" [id]="pokemon.nombre">
            <h2>{{ pokemon.nombre }}</h2>
    
            <img class="fotos" [src]="pokemon.foto" alt="{{ pokemon.nombre }}">
    
            <br>
    
            <div class="info">
                <p class="codigo"># {{ pokemon.codigo }}</p>
                <b>Tipo</b>
                <p> {{ pokemon.tipo }}</p>
                <br>
                <b>Altura</b>
                <p> {{ pokemon.altura }} m</p>
                <br>
                <b>Peso</b>
                <p> {{ pokemon.peso }} kg</p>
            </div>
        </section>
    </div>
</div>